<div class="modal-header">
    #{{record.dataset_id}} del {{record.created_at | date:"dd/MM/YYYY HH:mm"}}
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <label>Type:</label>&nbsp;<b>{{record.type}}</b><br/>
            
        </div>
        <div class="col-12">
            <label>Files:</label>&nbsp;<b>{{record.camera_data.items | number}}</b><br/>  
        </div>
        <div class="col-12">
            <div id="map" style="height: 500px;width: 100%;"></div>

        </div>
    </div>
</div>

<div class="modal-footer">
    
</div>

