
<nav id="sidebarMenu" [class.collapse]="collapsed" class="collapse d-block sidebar bg-white">   
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">     
        <a
          class="d-none d-lg-inline list-group-item list-group-item-action py-2 ripple"
          (click)="collapsed=!collapsed"
        >
            <ng-container *ngIf="!collapsed">
                <i class="fas fa-chevron-left fa-fw me-3"></i><span>Menu</span>
            </ng-container>
            <ng-container *ngIf="collapsed">
                <i class="fas fa-chevron-right fa-fw me-3"></i><span></span>
            </ng-container>
        </a>
        <ul class="list-group list-group-flush" (click)="collapsed=true">
          <ng-container *ngFor="let r of routes">
            <li class="list-group-item py-1" *ngIf="r.path!='' && checkPermission(r.data.permissions) && r.title!=''"  [routerLinkActive]="'current'">
                <a [routerLink]="r.path" class="text-reset">
                    <i class="{{r.data.icon}} fa-fw me-3" title="{{r.title}}"></i>
                    <span *ngIf="!collapsed">{{r.title}}</span>
                </a>
            </li>
          </ng-container>
          <li class="list-group-item py-1">
            <a class="text-reset" (click)="logout()">
              <i  class="fa fa-fw fa-sign-out me-3" title="Esci"></i>
              <span *ngIf="!collapsed">Esci</span>
            </a>        
          </li>
        </ul>        
      </div>
    </div>
    
</nav>