<header>
  <!-- Intro settings -->
  <app-sidebar *ngIf="isLogin"></app-sidebar>
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">      
        <div class="container-fluid">
            
          <!-- <button class="navbar-toggler d-block d-lg-none" type="button" data-mdb-collapse-init data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
          </button> -->
          <!-- Navbar brand -->
          <span class="navbar-brand text-dark">
            <img src="assets/logo.png" alt="BlueDepth3D"  style="max-height: 40px;" class="me-2" />
        </span>
          
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>              
              <ul class="navbar-nav d-flex flex-row align-items-center">
                  <!--<li class="nav-item me-3 me-lg-0" *ngIf="!isLogin">
                      <a class="nav-link" (click)="openLogin()" data-mdb-ripple-init>
                          Accedi
                      </a>
                  </li>-->
                 
                <li class="nav-item me-3" >
                    <a class="nav-link" (click)="logout()" title="Esci">
                        <i class="fa fa-sign-out ms-2"  ></i>
                    </a>
                </li>
              </ul>
          </div>
      </div>
  </nav>  
</header>

<!--Main layout-->
<main style="margin: 4.5rem 0;">
    <div [class.container]="isLogin">
        <router-outlet *ngIf="isLogin"></router-outlet>
        <!---->
        <ng-container *ngIf="!isLogin">
            <div class="alert-info w-100 h-100">
                <!--<app-login></app-login>-->
            </div>            
        </ng-container>        
    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="bg-white shadow-inner fixed-bottom d-none d-lg-block">
  <div class="text-center py-1 px-4"> Versione {{version}} | 
      © <a class="text-dark" href="https://www.3dresearch.it/" target="_blank"><strong>3D Research</strong></a>
  </div>
</footer>
<!--Footer-->


<ng-template #modalMessage>
    <div class="modal-body text-center">
        <p>
            <i *ngIf="modalMessageType=='success'" class="fas fa-3x fa-thumbs-up text-success"></i>
            <i *ngIf="modalMessageType=='info'" class="fas fa-3x fa-info-circle text-info"></i>
            <i *ngIf="modalMessageType=='danger'" class="fas fa-3x fa-exclamation-circle text-danger"></i>            
        </p>
        <p>{{message}}</p>
    </div>
    <div class="modal-footer text-center">
        <button class="btn btn-success" (click)="closeMessage()">Ok</button>
    </div>
</ng-template>

