
    
    <div class="col-12 col-lg-6">
        <div class="card mb-4">
            <div class="card-header text-white" [ngClass]="health ? 'bg-success' : 'bg-warning'">
            <!-- <div class="card-header bg-warning text-white"> -->
                <div class="d-flex align-items-center">
                    <div class="icon-shape icon-lg rounded me-3">
                        <i class="fas fa-exclamation-triangle fa-lg"></i>
                    </div>
                    <div>
                        <h5 class="mb-1">Errors Log</h5>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="error-log-container">
                    <table class="table table-sm table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Timestamp (s)</th>
                                <th>Device ID</th>
                                <th>Error Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let log of errorLogs">
                                <td>{{ log.timestamp | number:'1.2-2' }}</td>
                                <td>{{ log.idDevice }}</td>
                                <td><span class="badge bg-danger">{{ log.errorCode }}</span></td>
                            </tr>
                            <tr *ngIf="errorLogs.length === 0">
                                <td colspan="3" class="text-center text-muted">
                                    No errors logged
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
