<div class="row">
    <div class="col-md-4 d-none d-lg-block">

        <div class="row">
            <div class="col-12">
                <img src="assets/bluedepth.png" alt="BlueDepth3D" class="img-fluid mb-2"/>
                <small class="device-info">
                <p>Part Number: <strong>{{version.partnumber}}</strong></p>
                <p>Serial Number: <strong>{{version.serialnumber}}</strong></p>
                <p>Firmware Version: <strong>{{version.firmwareversion}}</strong></p>
                </small>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <!-- Status Card -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <div class="d-flex align-items-center">
                        <div class="icon-shape icon-lg  rounded me-3 ">
                            <i class="fas fa-tachometer-alt fa-lg"></i>
                        </div>
                        <div>
                            <h5 class="mb-1">Status</h5>
                        </div>
                        </div>
                    
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-12 colg-4">
                                <table class="table table-borderless table-sm mb-0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>Logic module:</label>
                                            </td>
                                            <td class="text-end">
                                                <div class="badge bg-success text-white rounded-pill">Online</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>RGB Camera module:</label>
                                            </td>
                                            <td class="text-end">
                                                <div class="badge bg-{{checkStatus('camera').status}} text-white rounded-pill">{{checkStatus('camera').message}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>StereoCamera module:</label>
                                            </td>
                                            <td class="text-end">
                                                 <div class="badge bg-{{checkStatus('stereocamera').status}} text-white rounded-pill">{{checkStatus('stereocamera').message}}</div>
                                           </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Last Update:</label>
                                            </td>
                                            <td class="text-end">
                                                <small>{{lastSystemStatusTime | date:'HH:mm:ss'}}</small>
                                            </td>
                                        </tr>

                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- System Card -->
            <div class="col-md-6">
                
                 <app-system></app-system>
                
            </div>
            
        </div>
        <div class="row">
        <!-- Location Card -->
            <div class="col-md-6">
                <!-- Location Card -->
                <div class="card mb-4">
                    <div class="card-header bg-info text-white">
                        <div class="d-flex align-items-center">
                        <div class="icon-shape icon-lg  rounded me-3 ">
                            <i class="fas fa-compass fa-lg"></i>
                        </div>
                        <div>
                            <h5 class="mb-1">Location</h5>
                        </div>
                        </div>
                    
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-12 colg-4">
                                <table class="table table-borderless table-sm mb-0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>Position:</label>
                                            </td>
                                            <td class="text-end">
                                                0.000000 N, 0.000000 E
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Orientation (RPY):</label>
                                            </td>
                                            <td class="text-end">
                                                0.0°, 0.0°,0.0°
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Depth</label>
                                            </td>
                                            <td class="text-end">
                                                0 m
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Storage Card -->
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header bg-warning text-white">
                        <div class="d-flex align-items-center">
                        <div class="icon-shape icon-lg  rounded me-3 ">
                            <i class="fas fa-database fa-lg"></i>
                        </div>
                        <div>
                            <h5 class="mb-1">Storage</h5>
                        </div>
                        </div>
                    
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-12 colg-4">
                                <table class="table table-borderless table-sm mb-0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label>Disk Free:</label>
                                            </td>
                                            <td class="text-end">
                                                <span *ngIf="board_status.free_disk['/']==0">nd</span>
                                                <span *ngIf="board_status.free_disk['/']>0">{{board_status.free_disk['/'] | fileSize}}</span>
                                                
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Disk Usage:</label>
                                            </td>
                                            <td class="text-end">

                                                <span *ngIf="board_status.used_disk['/']==0">nd</span>
                                                <span *ngIf="board_status.used_disk['/']>0">{{board_status.used_disk['/'] | fileSize}}</span>
                                              

                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Datasets:</label>
                                            </td>
                                            <td class="text-end">
                                                {{datasets.length}}
                                                
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>        
    </div>
    <div class="col-md-6">
        
      
    </div>
</div>

