<div class="row mb-3">
    <div class="col-12">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Usage 25%</div>
        </div>

        
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Usage</th>
                    <th scope="col">Files</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of datasets">
                    <td>{{d.id}}</td>
                    <td>{{d.type}}</td>
                    <td>{{d.usage | number}} MB</td>
                    <td>{{d.files | number}}</td>
                   
                </tr>                
            </tbody>
        </table>
    </div>
</div>